.div2{
  background-color:#3973ac;
  width: 100px;
  height: 100px;
  color: white;
  padding:20px;
  justify-content: center;
  text-align: center;
}

.div1{
  display:flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
}

table{
  border-spacing: 30px;
  width: 100%;
}

